​​ul {
    list-style-type: none;
}

body {
    display: grid;
    justify-content: auto;
    justify-self: center;
    background-color: white;
    margin: 0%;

   
}
#photo{
    background-image: url(./pexels-skitterphoto-349749.jpg);
    background-size: cover;
    height: 87vh;
    background-repeat: no-repeat;
    margin-right: 0px;
    margin: 0px;
}

.header{
    background-image: linear-gradient(180deg, #000000b3, #00000052 72.92%, #0000);
    display: grid;
    height: 150px;
    padding-top: 8px;
    /* background-image: linear-gradient(180deg, rgb(58, 57, 57), rgb(72, 70, 70),rgb(109, 107, 107),rgb(255, 251, 251)); */
    color: #FFFF;
    
}
/* this is the first row menu bar */
.section1 {
    padding-right: 4em;
    display: flex;
    justify-content: space-between;
    padding-top: 1.3em;
    padding-bottom: .2%;
    align-items: baseline;
    font: inherit;
    font-size: 14px;
    width: auto;
   
}

.dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0em 0em 0em 1em;
    position: relative;
    background-color: #FFFF;
    border-radius: 0.3em;
    flex-wrap: nowrap;
    padding-right: 15px;
    width: 100%;
}

.logo {
    height: 2.15em;
    justify-self: center;
    align-self: flex-start;
    margin-top: .6%;
    padding-left: 2%;
    margin-left: 1.2%;
}
/* for the div that holds the
two input bars and the search button*/
.searchBar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFF;
    border-radius: .3em;
    min-width: 680px;
    margin-left: 2%;
}

.location {
    display: none;
    position: absolute;
    font-family: "Open Sans";
    font-weight: 400;
    background-color: #FFFF;
}

.dropbtn {
    position: relative;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    font-size: 1.2em;
    flex-wrap: nowrap;
    height: 20px;
}

.dropRight {
    display: flex;
    justify-self: flex-start;
    width: 50%;

}

.dropRight,
.borderRight input {
    border-right: solid 3px #ebebeb;
    border-radius: 0em;
    height: 20px;
}

.dropLeft,
.borderLeft input ul li a {
    padding-left: 3%;
    font-size: 15px;
    color: black;
}
/* the dropdown input box still needs editing*/
.dropbtn:focus~.location {
    display: none;
    background-color: #FFFF;
}

.optionList,
a {
    color: rgb(65, 64, 64);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.96em;
}

.optionList {
    display: none;
    position: absolute;
}

.dropbtn:focus~.optionList {
    list-style: none;
    display: block;
    position: relative;
    background-color: #FFFF;
    border-radius: 2em;
}

.icon {
    border: solid 14px red;
    border-radius: 0.2em;
    height: auto;
    background-color: red;

}

.fakeBtn {
    width: 2em;
    height: 4.4em;
    padding: 3px 34px;
    background-color: #e00707;
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0px 4px 4px 0px;

}

/* for the div that holds the
two text and buttons on first menu*/
.navText {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-start;
    justify-items: stretch;
    width: 100%;
    height: fit-content;
    margin-left: 4%;

}

/*for the div that holds two text in the
section(menu) of the page*/
.text {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
    margin-right: 1%;
}

/* the div to contain the logIn buttom*/
.buttonLog {
    margin-left: 3%;
    margin-right: 1%;
}

/* the signUp button*/
.signUp {
    font-family: "Poppins";
    background-color: #e00707;
    color: #FFFF;
    font-weight: 500;
    border-radius: .2em;
    padding: 9px 16px;
    font-size: 16px;

}

/* the logIn button*/
.logIn {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    background-color: inherit;
    color: #FFFF;
    border: solid 2px white;
    padding: 7.4px 16px;
    border-radius: .2em;
    transition: background-color .85s ease;
}
.logIn:hover{
  background-color: #ebebeb52;
}
/* the div to contain the entire second col from the top navBar*/
.section2 {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-bottom: 8px;
    height: min-content;
    
}
.servList {
    font-family: "Open Sans";
    font-weight: 500;
    background-color: inherit;
    color: white;
    font-size: 14px;
    border-radius: 0.6em;

}

.box {
    display: none;
    justify-self: flex-end;
    background-color: white;
}

.optList {
    width: 130px;
    margin-right: 13%;
    padding: 1% 2%;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}

.optList a {
    border: solid 3px black;
    color: black;
    text-decoration: none;
    display: block;
    font-family: "Open Sans";
    font-weight: 400;
    background-color: inherit;
    border-radius: .8em;
}

.optList,
a:hover {
    background-color: #ddd;
}
/*
.nav2:hover .box,
.optList {
    display: block;
}
*/
.menu {
    display: flex;
    margin-left: 11%;
    width: 50%;
}

.nav2 {
    margin-right: 5%;
}

.arrow {
    height: .7em;
    padding-left: .2em;
    background-color: inherit;
}

.col2 {
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin-bottom: 1%;
    
}

.arrowIc {
    width: min-content;
}
/* this is the slide show section */
.section3 {
    align-self: start;
    display: flex;
    justify-content: flex-start;
    margin: 0px 42px;
    padding: 0px 5.5%;
}

/* the div to contain the div of the col2 from the top navBar*/
.menu {
    display: flex;
    margin-left: 11%;
    width: 50%;
}

.slides {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-columns: 10% 90%;
    width: 900px;

}

.title p {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 48px;
    margin-left: 5%;
    color: white;

}

.slides .animation {
    height: 400px;
}

.transition1 {
    border: solid 2px white;
    background-color: white;
    border: none;
    height: 90px;
    width: 10px;
    margin-top: 50px;
    border-radius: .4em;
    /*trasition effect for background*/

}

.transition2 {
    background-color: white;
    height: 90px;
    width: 10px;
    margin-top: 30px;
    border-radius: .4em;
}

.transition3 {
    background-color: white;
    height: 90px;
    width: 10px;
    margin-top: 30px;
    border-radius: .4em;
}

.slideBtn {
    font-family: "Poppins";
    font-size: 16px;
    background-color: #e00707;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2em;
    font-weight: 500;
    border-radius: .25em;
    padding: 6px 8px;
    min-width: 160px;

}

.button2 {
    width: 180px;
    margin-left: 5.2%;
}

.button2,
.slideBtn,
button {
    border: none;
    color: #e00707;
}

.titleBtn {
    margin-left: 6%;
    color: white;
}

.searchIcon {
    height: 20px;
}
.credits {
    display: grid;
    margin:6% 0px 0% 10%;
    font-family: "Open Sans";
    font-weight: 400;
    color: white;
    font-size: 13px;
    width: max-content;
    padding-bottom: 13px;
   
}
.boldCred {
    padding-bottom:3px;
    font-weight: 700;
}
/*this is the end of the main page*/
.footerMainPg {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    justify-self: flex-end;
    align-self: flex-end;
    width: 100%;
    margin: 0px;
    background-color: white;
    background-image: none;
    
   
}
.titleSec4 {
    background-color: white;
    width: 100%;
    padding: 10px 0px 0px 0px;
}
.titleSec4 p {
    font-family: "Poppins";
    font-weight: 700;   
    flex-wrap: nowrap;
    font-size: 28px;
}
.reviews{
    display: grid;
    justify-items: space-between;
    justify-content: center;
    padding: 56px 0px;
    padding: 0% 10% 0px 10%;
    border-bottom: 1px solid #ebebeb;

}
.contentSec4{
    display:grid;
    justify-content:space-between;
    grid-column-gap: 20px;
    margin-top: 1%;
    margin-bottom: 6%;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(4, 25%);
    grid-row-gap: 12%;
    background-color: white;
}
.userReviews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 340px;
    width: 333px;
    padding: 15px 0px 10px 0px;
    background-color: white;
    border:1px solid #ebebeb;
}
.revDescription {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    color: #2d2e2f;
}
#text{
    padding: 20px 0px 17px 0px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #2d2e2f;
}
.likeText{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400; 
    margin-left: 2.5px;
    color: #2d2e2f;
}

.userName{
    font-family: "Open Sans";
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    height: max-content;
    margin: 0px;
}
.userName:hover{
    text-decoration: underline;
    background-color: white;

}

.userImg, .userPic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.revText{
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
    margin: 0px;
    font-weight: 700;
    color: #027A97;  
}
.revText:hover{
   text-decoration: underline;
   background-color: white;
}
.imgRev{
   width:320px;
   height: 214px;
   padding: 0px;
   margin: 0px;
   background-color: white;

}
.imgRev:hover{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.userRev{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
padding-left: 24px;
}
.dbPic{
    display: flex;
    justify-content: space-around;
}
.slimmerPic{
    height: 160px;
    width: 140px;
}
.slimmerPic:hover{
  background-color: white;
}
.dbBox{
    border: 1px solid #ebebeb;
    justify-content: space-between;
}

.bannerPic{
    height: 100px;
    width: 333px;
    margin: 10px 0px;
}
.bannerPic:hover{
    background-color: white;
}
.emogis{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}
.rowIcon{
    width: 22px;
    height: auto;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    
}
.rowIcon:hover{
    background-color: #ebebeb;
}
.rating{
    width: 100px;
    height: 80px;
    margin-left: 2px;
    padding-top: 13px;
    position: absolute;
   
}
.revContent{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-bottom: 1px solid #ebebeb;
    padding: 6px;
}
.likeIc{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-top: 1%;
    height: auto;
}
.likeIc:hover{
    background-color: white;

}
.likeIcon{
    width: 22px;
    height: auto;
    padding: 10px;
}
.likeIcon:hover{
    border-radius: 50%;
    padding: 10px;
    background-color: #ebebeb;
}
.showMore{
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    height: min-content;
    padding: 48px 0px;
    margin-bottom: 4em;
    margin-top: 1em;
}

.revArrow{
    height: .7em;
    padding-right: .7em;
    align-self: center;
    background-color:white;
  
}
.revTitle{
    align-self: flex-start;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    padding: 20px 0px 10px 2px;
    font-weight: 600;
    color: #027A97;
    width: max-content;
  
}
#dbPicTitle{
    margin-left: 10px;
}
.categories{
    display: grid;
}
.revTitle:hover {
    text-decoration: underline;
    background-color: white;
}
.ctgText{
    align-self: center;
    justify-self: center;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 28px;
    margin-top: 1.6em;
    margin-bottom: 1.4em;
}
.ctgBtns{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content:center;
    grid-template-columns: repeat(4, 20%);
    grid-row-gap: 30px;
    grid-column-gap:40px;
    width: 100%;
    margin-bottom: 40px;
}
.btn {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 180px;
    width: 238px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    transition: box-shadow .3s;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
.btnImg, img{
    height:40px;
}
.btn{
    background-color: white;

}

.linkList {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    background-color: #f7f7f7;
    grid-template-columns: repeat(4, 20%);
    padding: 60px 0px;
    height: min-content;
    margin: 0px;
}

.linkTitle {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: #2d2e2f;
    margin: 0px;
    padding: 0px;
}

.btnArr {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: min-content;
    padding: 8px 0px 25px 0px;
}

.greyArrow {
    margin: 3.09px 4px;
    height: 14px;

}

.btnText {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #6E7072;
}

.opt, .optL{
    list-style: none;
    text-decoration: none;
    display: grid;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #6E7072;
    background-color: #f7f7f7;;
    padding: 0px 0px 5px 0px;
    width: max-content;
}
.optL:hover{
   background-color: #f7f7f7;
   list-style: none;
   text-decoration: underline;
}
.copyRight {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    color: #6E7072;
}
.imgTitle{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    color: #2d2e2f;
    margin-top: 10px;
}
.dot{
   height: 20px;
}
.more{
    margin: 0px;
}
.beauty{
    padding-top: 9px;
}
.restImg{
    height: 43px;
}
